ImGui 
    -> new(<string> Window_Name, <Vector2?> Window_Size) > Creates a new Windows
        Properties:
            -> AttachToInternalUI > This means it will be toggled with the INS key, like the regular Fluxus Internal UI. 
            -> Size [ WRITE ONLY ]
            -> Style [ WRITE ONLY ] 
            -> Visible
        Functions:
            -> Section(<string> Section_Name)
                -> Button(<string> Button_Text, <bool?> Same_Line, <Vector2?> Size);
                      Events:
                          -> OnClick()
                      Properties:
                          -> Text
                          -> Visible
                          -> Size [ WRITE ONLY ] 
                -> Label(<string> Label_Text, <bool?> Same_Line)
                      Properties:
                          -> Text
                          -> Visible
                -> BulletLabel(<string> Label_Text, <bool?> Same_Line)
                      Properties:
                          -> Text
                          -> Visible
                -> TextBox(<string?> Hint/DefaultText, <Vector2?> Size)
                      Events:
                          -> TextChanged()
                      Properties: 
                          -> Text [ READ ONLY ]
                          -> Hint 
                          -> MultiLine
                          -> Visible 
                -> CheckBox(<string> CheckBox_Text, <Vector2?> Size)
                      Events:
                          -> OnToggle()
                      Properties:
                          -> Visible
                          -> Toggled

    -> Styles > Styles for the ImGui
        -> Default
        -> Custom
        -> Light
        -> Classic
